*{
    margin: 0;
    padding: 0;
}
.carousel-inner img{
    height: 900px;
    width: 100%;
}
.carousel-inner h3{
    text-align: justify;
    font-size: 43px;
}
.carousel-inner p{
    text-align: justify;
}
.carousel-inner{
    background-color: rgb(0, 0, 0) !important;
}
.left-img{
    opacity: 0.5;
}
.login-class{
    justify-content: center;
    margin-top: 15%;
}
.email-txt, .pass-txt, .label-txt{
    color: #414141;
    font-size: 16px;
    margin-left: 11%;
   
}
.email-box{
    border: 1px solid #2B64B1;
    width: 85%;
    height: 50px;
    margin-left: 11%;
}
.pass-box{
    border: 1px solid #D9D9D9;
    width: 85%;
    height: 50px;
    margin-left: 11%;
}
.login-content{
    width: 90%;
    
}
.btn-login{
    
    border: 1px solid #F88634;
    border-radius: 24px;
    width: 85%;
    background-color: #F8863400;
    height: 40px;
    margin-top: 5%;
    color: #F88634 !important;
    margin-left: 11%;
}
.lost{
    color: #414141;
    text-align: center;
    font-size: 14px;
    margin-left: 10%;
   
}
.anchor{
    text-decoration: none !important;
    color: #414141;
}
.anchor-blue{
    text-decoration: none !important;
    color: #2B64B1;
}
.new-acc{
    color: #414141;
    font-size: 14px;
    text-align: center;
    margin-left: 10%;

}
.new-acc span{
    color: #2B64B1;
}
.policy{
    color: #414141;
    font-size: 14px;
    text-align: center;
    margin: 12%;
}


/* forgotpass css */
.forgot{
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.title{
    font-size: 22px;
}
/* .carousel-caption{
    top:0% !important;
    margin-top: 46% !important;
} */
.indicator{
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;

}
/* media query */
@media screen and (max-width:768px) {
    .carousel-inner img{
        height: 500px;
        width: 100%;
        background-image: url("file:///D:/Assignments/CI/images/Grow-Trees-On-the-path-to-environment-sustainability-4.png");
    }    
    .carousel-inner h3{
        text-align: justify;
        font-size: 20px;
    }
    .carousel-inner p{
        text-align: justify;
        font-size: 14px;
    }
}
@media screen and (max-width:992) {
    .register-class{
        margin-top: 10% !important;
    }
    
}



/* Registration page */
.register-content{
    justify-content: center;
    margin-top: 10%;
}

.box{
    border: 1px solid #D9D9D9;
    width: 85%;
    height: 45px;
    margin-left: 11%;
}
